
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Nurse Profile</h4>
                    </div>
                    <div class="card-body">
                        <form>
                           
                            <div class="row">
                                <div class="col-md-6">
                                 
                                    <input  placeholder="Nurse ID" type="text" name = "nurseId" required [(ngModel)]="NurseId">
                                 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                 
                                    <input  placeholder="Name" type="text" name = "Name" [(ngModel)]="Name">
                                 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input  placeholder="Ward ID" type="text" name = "wardID" [(ngModel)]="WardId">
                                </div>
                            </div>

                            <br>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addProfile()" > Add Nurse</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>