
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="font-family: 'Courier New', Courier, monospace;font-size:larger;">WARD MANAGEMENT</h4>
                    </div>
                    <div class="card-body">
                        <form>
                           
                            <div class="row">
                                <div class="col-md-4">
                                 
                                    <input  placeholder="Ward Number" type="text" name = "wardNumber" required [(ngModel)]="wardNumber">
                                 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                 
                                    <input  placeholder="Department" type="text" name = "Department" [(ngModel)]="department">
                                 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                 
                                    <input  placeholder="No. of Columns" type="number" name = "columns" [(ngModel)]="columns">
                                 
                                </div>
                            </div>
                            <br>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addWard()" >Add Ward</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
           
                