.content { 
    padding: 10px;
    align-content: center;
  }
  .logout{
      display: flex;
      margin: 70px auto;
      align-self: center;
  }
  .button{
      background-color: #186EC3;
      border: none;
      color: white;
      padding:15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  .patientform{
    display: flex;
    margin: 80px auto;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
  .roomLayout{
      float: left;
  }
  .PatientBedCardAlert{
      width: 150px;
      height: 200px;
      margin: 20px;
      padding: 20px;
      align-content: center;
  
  }
  .PatientBedCardOkay{
      width: 150px;
      height: 200px;
      margin: 20px;
      padding: 20px;
      align-content: center;
  }
  .PatientBedCardEmpty{
      width: 150px;
      height: 200px;
      margin: 20px;
      padding: 20px;
      align-content: center;
  }
  .ColorCodeCardAlert{
      width: 100px;
      height: 5px;
      background-color: firebrick;
  }
  .ColorCodeCardEmpty{
      width: 100px;
      height: 5px;
      background-color:yellow;
  }
  .ColorCodeCardOkay{
      width: 100px;
      height: 5px;
      background-color:green;
  }
  .content > mat-card { 
    width: 200px; 
  }